.footer {
    background-color: blue; /* Dark background for contrast */
    text-align: center; /* Center-align text */
    color: white;
    position: fixed; /* Keeps it within the page flow */
    bottom: 0;
    width: 100%; /* Full width */
    height: 50px; 
}


.navbar {
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Aligns items vertically */
    height: 60px; /* Adjust height if needed */
  }